body{
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif;
}
.top{
  background-color:  #251B37;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
}
h1{
  font-size: 5.625rem;
  color: #FFCACA;
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
}
h2{
  color: #251B37;
  font-size: 3rem;
  font-family: 'Albert Sans', sans-serif;
}
h3{
  font-size: 2.1rem;
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
}
.head{
  font-size: 2.5rem;
  font-weight: lighter;
  color: #FFCACA;
}
span{
  text-decoration: underline;
}
.coding1{
  width: 12.5%;
  position: absolute;
  right: 220px;
  top: 30px;

}
.coding2{
  width: 14%;
  position: absolute;
  left:220px;
  bottom:300px;
}
.comp{
  width: 30%;
  top: 600px;
}
.middle{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #FFECEF;
}
.profile{
  width: 50%;
  margin: 100px auto 100px auto;
}
.proffpic{
  width: 30%;
}
.paragraph{
  font-size: 1.5rem;
  margin: 20px auto auto auto;
  width: 73%;
  line-height: 2;
  color: #251B37;
}
hr{
  border: dotted #FFACC7 6px;
  width:4%;
  border-bottom: none;
  margin:100px auto 100px auto;
}
.skill-head{
  color: #372948;
}
.skill-head:hover{
  color: #66BFBF;
}
.skill-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code{
  width: 25%;
  float: left;
  margin-right:  30px;
}
.paragraph1{
  font-size: 1.25rem;
  line-height: 2;
  color: #251B37;
}
.photo{
  width: 25%;
  float: right;
  margin-left:  30px;
}
.interests{
  background-color: #251B37;
  padding-top: 55px;
  padding-bottom: 20px;
}
.interests-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.guitar{
  width: 25%;
  float: left;
  margin-right:  30px;
}
.controller{
  width: 25%;
  float: right;
  margin-left:  30px;
}
.paragraph2{
  font-size: 1.25rem;
  line-height: 2;
  color: #FFECEF;
}
.interest-head{
  color: #FFECEF;
}
.int-row{
  color: #FFCACA;
}
.int-row:hover{
  color: #66BFBF;
}
.contact{
  padding-top: 50px;
}
.btn {
  background: #251b37;
  background-image: -webkit-linear-gradient(top, #251b37, #372948);
  background-image: -moz-linear-gradient(top, #251b37, #372948);
  background-image: -ms-linear-gradient(top, #251b37, #372948);
  background-image: -o-linear-gradient(top, #251b37, #372948);
  background-image: linear-gradient(to bottom, #251b37, #372948);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffecef;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #251b37;
  background-image: -webkit-linear-gradient(top, #251b37, #937dc2);
  background-image: -moz-linear-gradient(top, #251b37, #937dc2);
  background-image: -ms-linear-gradient(top, #251b37, #937dc2);
  background-image: -o-linear-gradient(top, #251b37, #937dc2);
  background-image: linear-gradient(to bottom, #251b37, #937dc2);
  text-decoration: none;
}
.bottom{
  background-color: #251B37;
  padding: 50px 0 20px;
  margin: 0;
}
a{
  color: #FFCACA;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
.logo{
  margin: 10px 20px 10px 20px;
  width:5%;
}
.edd{
  margin: auto;
}
.edd1{
  margin: auto;
}
